body{
    text-align: center;
}
.btn{
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}
.btn_container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: #d95980;
}
.yellow{
    background-color:#f99b45 ;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819ff9;
}
.gameFlash{
    background-color: white;
}
.userFlash{
    background-color: green;
}

@media(max-width: 512px){
    .btn_container{
        display: flex;
    }
    .btn{
        width: 160px;
        height: 160px;
        border-radius: 15%;
        margin: 1rem;
    }
}


@media(max-width: 427px){
    .btn_container{
        display: flex;
    }
    .btn{
        width: 130px;
        height: 130px;
        border-radius: 15%;
        margin: 1rem;
    }
}

@media(max-width: 340px){
    .btn_container{
        display: flex;
    }
    .btn{
        width: 75px;
        height: 75px;
        border-radius: 15%;
        border: 5px solid black;
        margin: 1rem;
    }
}
